* {
  scroll-behavior: smooth;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.6;
}
  
html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}
   
   /* HEADER */
  
    header {
  width: 100%;
  background-color: #000000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
  .header-container {
   
  display: flex;
  align-items: center;
  padding: 0 80px;
  justify-content: space-between;
    
  }

  .logo img{
    width: 80px;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 200px;
  }
  
  .menu a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
  }

  .lang-switch {
    text-align: right;
    font-weight: bold;
  }
  
  .lang-switch button {
    background-color: #000000;
    color: #ffffff;
    border: 4px;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
  }

  /* MAIN */
    
  main.conteudo{
    flex: 1;
    display: grid;
    margin: 100px;
    place-items: center;  
    
  }

  section.introducao{
  text-align: center;
 margin: 0 100px 0 200px;
  }

  .subtitle {
  font-size: 24px;
  font-weight: 500;
}

p {
  font-size: 20px;
  line-height: 1.3;
}



.cnt-image {
  display: flex;
  flex: 1;
  grid-column: 2;
  margin-right: 200px;
}

/* FOOTER */
.footer {
  width: 100%;
  background-color: #000000;
  padding: 15px 0;

}

.footer-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}

.footer-section a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
}

.footer-section i {
  background-color: #ffffff;
  color: #000000;
  padding: 5px;
  font-size: 20px;
  gap: 5px;
  margin: 5px;
  cursor: pointer;
  border-radius: 50%;
}

@media screen and (max-width: 1600px) {

.cnt-image {
    margin: 0;
  }


section.introducao{
  margin: 0;
}

  .footer-section {
    justify-content: space-between;
    margin: 10px;
  }
}

@media screen and (max-width: 900px) {
  .menu {
    flex-direction: column;
    gap: 5px;
  }

  .cnt-image {
    display: none;
  }

section.introducao{
  margin: 0;
}

  .footer-section {
    justify-content: space-between;
    margin: 10px;
  }
}


  @media screen and (max-width: 600px) {
 
    .header-container{
      padding: 0 40px;
    }
    
    .menu {
    flex-direction: column;
    gap: 5px;
  }

  main.conteudo{
    margin: 30px;
  }

  section.introducao{
    margin: 0;
  }

  .cnt-image {
    display: none;
  }


  .footer-section {
    justify-content: space-between;
    margin: 10px;
  }
}

