* {
  scroll-behavior: smooth;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.6;
}
  
html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

  
   
   /* HEADER */
  
    header {
  width: 100%;
  background-color: #000000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
  .header-container {
   
 display: flex;
  align-items: center;
  padding: 0 80px;
  justify-content: space-between;
    
  }

  .logo img{
    width: 80px;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 200px;
  }
  
  .menu a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
  }

  .lang-switch {
    text-align: right;
    font-weight: bold;
  }
  
  .lang-switch button {
    background-color: #000000;
    color: #ffffff;
    border: 4px;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
  }

  /* MAIN */

  main.conteudo{
    flex: 1;
    text-align: center;
    
  }
  
  .projects {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    justify-content: center;
    gap: 30px 90px;
}
.project {
    background: #d6d5d5;
    padding: 30px 10px;
    width: 300px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}
.project img {
    max-width: 100%;
    border-radius: 5px;
}

.project p{
  margin: 0 0 5px 0;
}

.about_project a {
  background-color: #000000;
  color: #ece2e2;
  text-decoration: none;
  border: none;
  padding:10px 10px;
  margin: 5px;
  cursor: pointer;
  border-radius: 4px;
}

/* FOOTER */
.footer {
  width: 100%;
  background-color: #000000;
  padding: 15px 0;

}

.footer-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}

.footer-section a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
}

.footer-section i {
  background-color: #ffffff;
  color: #000000;
  padding: 5px;
  font-size: 20px;
  gap: 5px;
  margin: 5px;
  cursor: pointer;
  border-radius: 50%;
}

@media screen and (max-width: 1200px) {
  .menu {
    flex-direction: column;
    gap: 5px
  }

  .projects{
    grid-template-columns: repeat(2, 300px);
    margin-bottom: 20px;
  }

  .legend h2{
    margin: 10px;
  }

  .cnt-image {
    display: none;
  }


  .footer-section {
    justify-content: space-between;
    margin: 10px;
  }
}
 

@media screen and (max-width: 800px) {
  .menu {
    flex-direction: column;
    gap: 5px;
  }

  .projects{
    grid-template-columns: repeat(1, 300px);
    margin-bottom: 20px;
  }

  .cnt-image {
    display: none;
  }


  .footer-section {
    justify-content: space-between;
    margin: 10px;
  }
}

@media screen and (max-width: 600px) {

  .header-container{
      padding: 0 40px;
    }
  
  .menu {
    flex-direction: column;
    gap: 5px;
  }

  .cnt-image {
    display: none;
  }


  .footer-section {
    justify-content: space-between;
    margin: 10px;
  }
}
